body{
	margin:20px;
	margin-top:10px;
}

@media screen and (max-width:768px){
	
	body{
	margin: 0px;
	background-color: brown;
	}
	
	  nav {
  	flex-direction:column;
    justify-content:space-around;
    
  }
  
  nav div{
  	flex-direction:column;
  	justify-content:space-around;
  	min-width:265px;
  }
  
  #logoAccueil{
  text-align:center;
  }
}
nav{
	width:auto;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-bottom:20px;
	
}

nav div{
	display:flex;
	align-items:center;
	justify-content: space-evenly;
	gap:15px;
	flex-wrap:wrap;
	
}

@media only screen and (max-width: 600px) {

}

#logoAccueil{
	font-size:2.8em;
	font-weight:bold;
	text-decoration:none;
	color:white;
}
#logoAccueil:hover{
	font-size:2.81em;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.15);
}


.button{
	text-decoration: none;
	border-radius:10px;
    border: 1px solid white;
    color: white;
    padding: 10px; 
    background-color: #4d5154;
}
.danger {
	background-color:#f27676;
}

.button:hover{
	background-color: #646669;
}

.danger:hover{
	background-color: #e85353;
}
