body{
	width: 100%;
	background: linear-gradient(#FF79DA,yellow);
}
nav{
	text-align: center;
	padding-top: 180px;
}
h1{
	text-align: center;
    color: blue;
}
a{
	text-decoration: none;
	border-bottom-right-radius: 55%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    color: white;
    padding: 35px;
    background: linear-gradient(#FF79DA,#9356DC);
}