body{
	margin:auto;
}
nav{
	width:auto;
	margin:30px;
	display:flex;
	justify-content:space-between;
}
nav div{
	display:flex;
	align-items:center;
	gap:15px;
	flex-wrap:wrap;
	
}

a{
	text-decoration: none;
	border-radius:10px;
    border: 1px solid white;
    color: white;
    padding: 10px; 
    background-color: #4d5154;
}

a:hover{
	
	background-color: #646669;
}