@charset "UTF-8";

body{
	background-color: antiquewhite;
}
h1{
	text-align: center;
    color: navy;
}
form{
	    text-align: center;
    display: list-item;
}
input{
	    width: 127px;
    height: 33px;
    margin-top: 42px;
    color: darkturquoise;
    background-color: honeydew;
}
button{
	    width: 127px;
    height: 33px;
    margin-top: 42px;
    color: darkturquoise;
    background-color: honeydew;
}